html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Pretendard-Regular";
}
:root {
  --mainbgcolor: #212125;
  --subbgcolor: #dfdfe1f2;
  --maincolor: #a3de83;
  --subcolor: #f7f39a;
  --engtitlefont: "Open Sans", sans-serif;
  --engsubfont: "Roboto", sans-serif;
  --sec2-slide-width: 1600px;
  --sec2-slide-count: 5;
}
h6 {
  display: none;
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* section1 PortFolio */

.section1.active {
  animation: rotate-90-vertical-bck 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes rotate-90-vertical-bck {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
.section1-title {
  width: 100%;
  height: 100%;
  position: relative;
}

/* section1-1  1depth*/

.section1-1_inner {
  width: 90%;
  margin: 0 auto;
}
.one-depth {
  padding-top: 25px;
  margin-bottom: 30px;
}

.one-depth > h2 {
  font-size: 3.5rem;
  line-height: 5rem;
}
.one-depth > h2 > strong {
  color: var(--maincolor);
  font-weight: 600;
}

/* 2depth */
.section1-1 .info > strong,
.section1-1 .info > p > b,
.education-career_inner .education-contents > strong,
.education-career_inner .education-contents > p > b,
.career-contents > strong,
.career-contents > p > b {
  font-family: var(--engsubfont);
}

.section1-1 .info > strong,
.education-career_inner .education-contents > strong,
.career-contents > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.two-depth {
  font-size: 2.5rem;
}

.p-tie {
  line-height: 4rem;
  text-indent: 2rem;
}

/* 3depth */
.three-depth .skill > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}

.three-depth .skill {
  font-size: 2.5rem;
}

.skill_inner {
  margin-bottom: 20px;
  opacity: 0;
  transition: 0.7s ease-in-out;
}
.skill_inner.active {
  opacity: 1;
}

.skill_inner > li {
  display: flex;
  margin-bottom: 25px;
}

.skill_inner > li .skill-text-graph-box > span {
  display: inline-block;
  margin-bottom: 10px;
}

.skill-text-graph-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
}
/* skill img size */
.section1-1 .three-depth .skill .skill_inner > li .skill-img-box > img {
  width: 100%;
  max-width: 35px;
}

/* skill 스킬그래프 공통 */
.progress {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 8px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(to right, var(--maincolor), var(--subcolor));
  border-radius: 8px;
}

/* html */
.progress-level.html {
  animation: html 2s ease-in-out both;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* css */
.progress-level.css {
  animation: css 2s ease-in-out both;
  animation-delay: 0.3s;
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* js_jq */
.progress-level.js_jq {
  animation: js_jq 2s ease-in-out both;
  animation-delay: 0.6s;
}
@keyframes js_jq {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/* ps */
.progress-level.photoshop {
  animation: photoshop 2s ease-in-out both;
  animation-delay: 0.9s;
}

@keyframes photoshop {
  0% {
    width: 0;
  }
  100% {
    width: 79%;
  }
}

/* il */
.progress-level.illustrator {
  animation: illustrator 2s ease-in-out both;
  animation-delay: 1.2s;
}
@keyframes illustrator {
  0% {
    width: 0;
  }
  100% {
    width: 79%;
  }
}

/* figma */

.progress-level.figma {
  animation: figma 2s ease-in-out both;
  animation-delay: 1.5s;
}
@keyframes figma {
  0% {
    width: 0;
  }
  100% {
    width: 77%;
  }
}

/* 4depth */
.fourth-depth {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fourth-depth > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
  font-size: 2.5rem;
}
.etc_inner {
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding-bottom: 40px;
}

.etc_inner > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.4rem;
}

.etc_inner > li:nth-child(2) > img {
  margin-bottom: 3px;
}

.etc_inner > li:nth-child(3) > img,
.etc_inner > li:nth-child(4) > img {
  margin-bottom: 5px;
}
/* profile img */
.profile-img-box .profile-img {
  width: 100%;
  max-width: 500px;
  position: absolute;
  bottom: 0;
  right: 100px;
  transition: 0.7s ease-in-out;
  opacity: 0;
}
.profile-img.active {
  opacity: 1;
}

/* etc img size */
.section1-1 .fourth-depth .etc_inner > li > img {
  width: 100%;
  max-width: 50px;
}

/* section2 */
/* section2-1 */
.section2-main {
  position: relative;
}
.section2-1-contents {
  display: flex;
  justify-content: space-around;
}

.section2-1-img-slide-wrap,
.section2-1-slide-list {
  display: flex;
}
.section2-1-img-slide-wrap {
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 80vh;
  position: relative;
}

.section2-1-slide-list {
  width: 6400px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.section2-1-slide-list > li {
  width: calc(100% / 4);
  height: 80vh;
  display: flex;
  align-items: center;
}

.section2-1_inner .section2-1-sub-title,
.section2-3_inner .section2-3-sub-title {
  text-align: right;
}

.responsive-main-img-box {
  width: 100%;
}

.responsive-main-img-box .all-device {
  width: 80%;
  z-index: 1;
}

.jimsa-pc,
.bn-img,
.web-trend,
.jimsa-mo {
  width: 100%;
  position: absolute;
}
.jimsa-pc {
  max-width: 705px;
  height: 402px;
  top: 23px;
  left: 30%;
}
.bn-img {
  max-width: 449px;
  height: 286px;
  left: 15%;
  top: 50%;
}
.web-trend {
  max-width: 248px;
  height: 350px;
  right: 18.7%;
  top: 43%;
}
.jimsa-mo {
  max-width: 125px;
  height: 266px;
  top: 60.4%;
  right: 11.5%;
}

.tool_tie > img {
  width: 100%;
  max-width: 45px;
}

/* section2-1-1 */
.section2-1-1 {
  justify-content: center;
}
.section2-1-1_contents {
  width: 100%;
}
.jimssa_all_tie {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.jimssa__inner {
  width: 30%;
  background: #f1f1f1;
  box-shadow: inset -27px -27px 54px #d6d6d6, inset 27px 27px 54px #ffffff;
  display: flex;
  align-items: center;
  padding-left: 2%;
  margin-right: 2%;
  border-radius: 40px;
}

.jimssa__inner li > ol {
  font-size: 2rem;
  color: #333;
  line-height: 5rem;
}
.Jimssa_textbox > h3,
.title_bottom_contents > p:nth-child(2) {
  font-family: var(--engsubfont);
}

.jimssa-screen-box {
  width: 50%;
}
.jimssa-screen-box > li {
}
.jimssa-screen-box li > img {
  width: 100%;
}

.jimssa-page-img {
  background-image: url(/img/project/jimssa_project.png);
  transition: background-position 15s;
  background-size: 100%;
  height: 565px;
  width: 100%;
  max-width: 724px;
  top: 11%;
  left: 43%;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 7px;
  margin-top: 20px;
}

.period,
.participation,
.tool {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-bottom: 20px;
}
.period > h3 {
  margin: 10px 0;
}
.period > span:nth-child(2),
.participation > span:nth-child(1),
.tool > span:nth-child(1) {
  line-height: 3rem;
}

.publishing_content_btn > span {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  transition: 0.5s;
  box-sizing: border-box;
  margin-right: 17px;
  font-family: var(--engsubfont);
}
.publishing_content_btn > span:hover {
  border-radius: 10px;
  color: #fff;
  background-color: var(--maincolor);
}
/* section2-2 */
.computer1 {
  width: 47%;
}
.cgv-img {
  width: 100%;
  position: absolute;
  max-width: 770px;
  top: 19px;
  height: 410px;
}

.phone1,
.phone2,
.phone3 {
  width: 16%;
}
.phone1 {
  transform: translateX(70px);
  animation: phone1 0.5s ease-in-out both;
}

@keyframes phone1 {
  0% {
    transform: translateX(275px);
  }
  50% {
    opacity: 0.3;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateX(70px);
  }
}

.phone2 {
  z-index: 1;
}
.phone3 {
  transform: translateX(-70px);
  animation: phone3 0.5s ease-in-out both;
}

@keyframes phone3 {
  0% {
    transform: translateX(-275px);
  }
  50% {
    opacity: 0.3;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: translateX(-70px);
  }
}

.computer2 {
  width: 30%;
}
.sec2-3-namyang {
  right: 12.2%;
  top: 28px;
  width: 100%;
  max-width: 478px;
  height: 343px;
  position: absolute;
}

/* section2-3 */

/* section3 ~ 3-1 */
.section3 {
  height: 100vh;
  background-color: var(--mainbgcolor);
  width: 100%;
  position: relative;
  color: #fff;
}

.section3-1 {
  height: 100vh;
  position: relative;
  background-color: var(--mainbgcolor);
}

.design-2d > article {
  margin: 80px 0;
}
.ui-ux_container > article > h2 {
  text-align: right;
}
.design_wrap {
  background-color: var(--mainbgcolor);
}
.design-content_inner {
  position: relative;
  cursor: pointer;
  width: calc(100% / 4);
}
.design-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  line-height: 26px;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  padding-top: 35%;
}

.design-content_inner:hover .design-content {
  opacity: 1;
}

.design-content > img {
  width: 100%;
  max-width: 50px;
}
.design_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}
.design-2d,
.design-ui-ux {
  width: 90%;
  margin: 0 auto;
  height: 90vh;
  position: relative;
}
.design-2d_container {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
}
.design-2d_container.active,
.design-uiux_container.active {
  opacity: 1;
}
.design-uiux_container {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  opacity: 0;
  transition: 0.3s;
}

.two-d-img,
.uiux-img {
  width: 100%;
  height: 100%;
}

.uiux-img.shape-patterns,
.uiux-img.grid,
.uiux-img.headset,
.uiux-img.brush {
  height: 371px;
}
.two-d-img.popup,
.two-d-img.longshadow,
.two-d-img.drawing,
.two-d-img.webrecruitment,
.two-d-img.banner,
.two-d-img.card,
.two-d-img.diary,
.uiux-img.three-d,
.uiux-img.soul,
.uiux-img.ribbon,
.uiux-img.blend,
.uiux-img.shape-patterns,
.uiux-img.grid,
.uiux-img.headset,
.uiux-img.brush {
  animation: design-img-ani 1s ease-in-out both;
}

.two-d-img.longshadow {
  animation-delay: 0.3s;
}
.two-d-img.drawing {
  animation-delay: 0.6s;
}
.two-d-img.webrecruitment {
  animation-delay: 0.9s;
}
.two-d-img.banner {
  animation-delay: 1.2s;
}
.two-d-img.card {
  animation-delay: 1.5s;
}
.two-d-img.diary {
  animation-delay: 1.8s;
}

.uiux-img.three-d {
  animation-delay: 0.9s;
}
.uiux-img.soul {
  animation-delay: 0.6s;
}
.uiux-img.ribbon {
  animation-delay: 0.3s;
}

.uiux-img.shape-patterns {
  animation-delay: 1.2s;
}
.uiux-img.grid {
  animation-delay: 1.5s;
}
.uiux-img.headset {
  animation-delay: 1.8s;
}
.uiux-img.brush {
  animation-delay: 2.1s;
}
@keyframes design-img-ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-element {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
/* design modal */
.design-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
  display: none; /* css 코딩 후 풀어주기 */
}

.modal_bd {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  margin: 0 auto;
}

.modal_wd_inner li p img,
.pu_de39modal img,
.pu_krispy img,
.pu_namyang img {
  /* 밀릴 시 마진 삭제 */
  width: 54%;
  margin: 0 22.5%;
  overflow: hidden;
}

/* Modal_Button */

.design-modal_btn {
  z-index: 300;
  position: fixed;
  top: 0;
  left: 76.5%;
  width: 80px;
  color: rgb(112, 112, 112);
  overflow: hidden;
  text-align: center;
}

.design-modal_btn li {
  cursor: pointer;
  overflow: hidden;
  background-color: #ddd;
  height: 60px;
  line-height: 60px;
  color: #333;
}

.design-modal_btn li:hover {
  background-color: rgb(182, 182, 182);
  color: #fff;
  transition: 0.35s;
}

.design-modal_btn .close_btn {
  height: 50px;
}

.design-modal_btn .right_btn,
.design-modal_btn .left_btn {
  position: relative;
  float: right;
  width: 50%;
  height: 50px;
}

.page_num {
  width: 100%;
  height: 30px;
  text-align: center;
}

/* section common */
.section1,
.section1-1,
.section2,
.section2-1 {
  background-color: var(--mainbgcolor);
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}

.section1-title > article > h2,
.section2-title,
.section3-title {
  flex: 1;
  text-align: center;
  font-size: 21rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
  color: white;
  font-family: var(--engtitlefont);
  font-weight: 600;
  animation: slide-in 1.2s ease-in-out both;
  white-space: nowrap;
  opacity: 1;
}
@keyframes slide-in {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.section1-title > article,
.section2-main,
.section3-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section1-next-btn,
.section2-next-btn,
.section2-pre-btn,
.section3-pre-btn,
.section3-next-btn {
  color: #fff;
}

.section1-next-btn,
.section2-next-btn,
.section3-next-btn {
  margin-right: 20px;
}

.section2-pre-btn,
.section3-pre-btn {
  margin-left: 20px;
}

.mouse-icon {
  width: 2px;
  padding: 4px 12px;
  height: 32px;
  border: 2px solid #fcfdfe;
  border-radius: 12px;
  opacity: 0.5;
  box-sizing: content-box;
  position: absolute;
  bottom: 40px;
}

.mouse-wheel {
  transform: translateY(-20px);
  display: inline-block;
  height: 15px;
  background-color: #fff;
  width: 2px;
  animation: scroll 2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  margin-top: 3px;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-9px);
    opacity: 0;
  }
}

.section2-1,
.section2-3 {
  background-color: var(--subbgcolor);
}

.section2-2 {
  background-color: #fff;
}

.section2-1_inner,
.section2-2_inner,
.section2-3_inner {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section2-1_inner .section2-1-sub-title,
.section2-2_inner .section2-2-sub-title,
.section2-3_inner .section2-3-sub-title {
  color: #333;
  font-weight: var(--engsubfont);
  font-size: 2.2rem;
}

.section2-1-contents,
.section2-2-contents,
.section2-3-contents {
  position: relative;
}

.responsive-main-img-box,
.onepage-main-img-box,
.pc-mo-all-page-main-img-box {
  display: flex;
  justify-content: center;
  position: relative;
}
/* section common end */

.section2-1-img-slide-wrap {
  justify-content: center;
  align-items: center;
  width: var(--sec2-slide-width);
  height: 80vh;
  position: relative;
  background-color: rgba(0, 0, 255, 0.5);
}
.section2-1-slide-list {
  width: calc(var(--sec2-slide-width) * var(--sec2-slide-count));
  position: absolute;
  transition: 0.3s;
  top: unset;
  transform: translateX(0%);
  background-color: rgba(255, 0, 0, 0.5);
}

.section2-1-img-slide-wrap {
  justify-content: center;
  align-items: center;
  width: var(--sec2-slide-width);
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 0, 0.5);
}

.section2-1-slide-list > li {
  transition: 0.3s;
}
.section2-1-slide-list > li:nth-of-type(1) {
  background-color: red;
}
.section2-1-slide-list > li:nth-of-type(2) {
  background-color: orange;
}
.section2-1-slide-list > li:nth-of-type(3) {
  background-color: yellow;
}
.section2-1-slide-list > li:nth-of-type(4) {
  background-color: yellowgreen;
}
.section2-1-slide-list > li:nth-of-type(5) {
  background-color: blue;
}
.section2-1-pre-btn,
.section2-1-next-btn {
  z-index: 10;
}
