html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Pretendard-Regular";
}
:root {
  --mainbgcolor: #212125;
  --subbgcolor: #cdcddb;
  --maincolor: #a3de83;
  --subcolor: #f7f39a;
  --engtitlefont: "Open Sans", sans-serif;
  --engsubfont: "Roboto", sans-serif;
}

/* section1 PortFolio */
.section1,
.section1-1 {
  background-color: var(--mainbgcolor);
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}
.section1-title {
  width: 100%;
  height: 100%;
}

.section1-title > article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section1-title > article > h2 {
  flex: 1;
  text-align: center;
  font-size: 21rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
  color: white;
  font-family: var(--engtitlefont);
  font-weight: 600;
  animation: slide-in 1.2s ease-in-out both;
  white-space: nowrap;
  opacity: 1;
}
@keyframes slide-in {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.section1-btn {
  color: #fff;
  margin-right: 20px;
}

.mouse-icon {
  width: 2px;
  padding: 4px 12px;
  height: 32px;
  border: 2px solid #fcfdfe;
  border-radius: 12px;
  opacity: 0.5;
  box-sizing: content-box;
  position: absolute;
  top: 36%;
}

.mouse-wheel {
  display: inline-block;
  height: 15px;
  background-color: #fff;
  width: 2px;
  animation: scroll 2s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  margin-top: 3px;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(9px);
    opacity: 0;
  }
}

/* section1-1  1depth*/

.section1-1_inner {
  width: 90%;
  margin: 0 auto;
}
.one-depth {
  padding-top: 25px;
  margin-bottom: 30px;
}

.one-depth > h2 {
  font-size: 3.5rem;
  line-height: 5rem;
}
.one-depth > h2 > strong {
  color: var(--maincolor);
  font-weight: 600;
}

/* 2depth */
.section1-1 .info > strong,
.section1-1 .info > p > b,
.education-career_inner .education-contents > strong,
.education-career_inner .education-contents > p > b,
.career-contents > strong,
.career-contents > p > b {
  font-family: var(--engsubfont);
}

.section1-1 .info > strong,
.education-career_inner .education-contents > strong,
.career-contents > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}
.two-depth {
  font-size: 2.5rem;
}

.p-tie {
  line-height: 4rem;
  text-indent: 2rem;
}

/* 3depth */
.three-depth .skill > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
}

.three-depth .skill {
  font-size: 2.5rem;
}

.skill_inner {
  margin-bottom: 20px;
}

.skill_inner > li {
  display: flex;
  margin-bottom: 25px;
}

.skill_inner > li .skill-text-graph-box > span {
  display: inline-block;
  margin-bottom: 10px;
}

.skill-text-graph-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-left: 20px;
}
/* skill img size */
.section1-1 .three-depth .skill .skill_inner > li .skill-img-box > img {
  width: 100%;
  max-width: 35px;
}

/* skill 스킬그래프 공통 */
.progress {
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 8px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(to right, var(--maincolor), var(--subcolor));
  border-radius: 8px;
}

/* html */
.progress-level.html {
  animation: html 2s ease-in-out both;
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* css */
.progress-level.css {
  animation: css 2s ease-in-out both;
  animation-delay: 0.3s;
}
@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 88%;
  }
}

/* js_jq */
.progress-level.js_jq {
  animation: js_jq 2s ease-in-out both;
  animation-delay: 0.6s;
}
@keyframes js_jq {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/* ps */
.progress-level.photoshop {
  animation: photoshop 2s ease-in-out both;
  animation-delay: 0.9s;
}

@keyframes photoshop {
  0% {
    width: 0;
  }
  100% {
    width: 79%;
  }
}

/* il */
.progress-level.illustrator {
  animation: illustrator 2s ease-in-out both;
  animation-delay: 1.2s;
}
@keyframes illustrator {
  0% {
    width: 0;
  }
  100% {
    width: 79%;
  }
}

/* figma */

.progress-level.figma {
  animation: figma 2s ease-in-out both;
  animation-delay: 1.5s;
}
@keyframes figma {
  0% {
    width: 0;
  }
  100% {
    width: 77%;
  }
}

/* 4depth */
.fourth-depth {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fourth-depth > strong {
  color: var(--subcolor);
  font-weight: 600;
  margin: 20px 0 20px 0;
  display: inline-block;
  font-size: 2.5rem;
}
.etc_inner {
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding-bottom: 40px;
}

.etc_inner > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.etc_inner > li:nth-child(2) > img {
  margin-bottom: 3px;
}

.etc_inner > li:nth-child(3) > img,
.etc_inner > li:nth-child(4) > img {
  margin-bottom: 5px;
}
/* profile img */
.profile-img > img {
  width: 100%;
  max-width: 550px;
  position: absolute;
  bottom: 0;
  right: 100px;
}

/* etc img size */
.section1-1 .fourth-depth .etc_inner > li > img {
  width: 100%;
  max-width: 50px;
}
