@import url(common.css);

.tablet .tablet_mockup {
  background-color: #333;
  width: 808px;
  height: 708px;
  position: relative;
  top:0;
  left:0;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #999;
}
.tablet .tablet_mockup .table_inner_bgcolor {
  background-color: #fff;
  width: 768px;
  height: 668px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.tablet .antenna_sensitivity span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  top: -1.9%;
  left: 50%;
}

.power_btn {
  position: absolute;
  top: 95px;
  right: -2.5%;
}
.power_btn span {
  position: absolute;
  width: 6px;
  height: 60px;
  background-color: #444;
  border-radius: 0 10px 10px 0;
}

.volume_btn {
  position: absolute;
  left: -3.4%;
}
.volume_btn span {
  position: absolute;
  background-color: #444;
  width: 6px;
  height: 80px;
  border-radius: 10px 0 0 10px;
}
.volume_btn span:nth-child(1) {
  top: 95px;
}
.volume_btn span:nth-child(2) {
  top: 200px;
}